:root {
  /* 字体初始化 */
  font-size: 16px;
  /* 初始化颜色 */
  /* 蓝色 */
  --pr-blue: #1e90ff;
  /* 灰色 */
  --pr-gray: #c4cbcf;
  /* 原色 */
  --primary: #dad4cb;
  /* 警告 */
  --warning: #ffc107;
  /* 白色 */
  --pr-white: #ffffff;
  /* 危险 */
  --danger: #dc3545;
  /* 成功 */
  --success: #2ecc71;
  /* 阴影 */
  --shadow: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
}

/* flex布局 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 容器 */
.container {
  width: 20rem;
  height: 10rem;
  background-color: var(--pr-gray);
}

/* 分割线 */
.hr {
  border: 1px solid var(--pr-gray);
  height: 1px;
  width: 90%;
  background-color: var(--pr-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
}

/* 空白分割 */
.split {
  width: 100%;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* 卡片 */
.card {
  border-radius: 2%;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 2px 4px 4px 2px var(--shadow);
}

/* 按钮 */
.btn {
  width: fit-content;
  vertical-align: middle;
  border: 1px solid var(--pr-gray);
  border-radius: 10px;
  background-color: var(--pr-white);
  padding: 0.5rem;
  cursor: pointer;
}

/* 警告按钮 */
.btn-warning {
  color: var(--pr-white);
  background-color: var(--warning);
  border: 1px solid var(--warning);
}

/* 危险按钮 */
.btn-danger {
  color: var(--pr-white);
  background-color: var(--danger);
  border: 1px solid var(--danger);
}
