/* 按钮 */
/* #region */
.btn {
  width: fit-content;
  vertical-align: var(--vertical-align);
  background-color: var(--pr-white);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn:focus-within {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

/* 警告按钮 */
.btn-warning {
  color: var(--pr-white);
  background-color: var(--warning);
  border: 1px solid var(--warning);
}

/* 危险按钮 */
.btn-danger {
  color: var(--pr-white);
  background-color: var(--danger);
  border: 1px solid var(--danger);
}

/* 成功按钮 */
.btn-success {
  color: var(--pr-white);
  background-color: var(--success);
  border: 1px solid var(--success);
}

/* 原始按钮 */
.btn-primary {
  color: var(--pr-white);
  background-color: var(--pr-blue);
  border: 1px solid var(--pr-blue);
}

/* #endregion */