/* 代码块 */
/* #region */
.LK-codes {
  width: fit-content;
  height: fit-content;
  background: var(--pr-gray);
  padding: 0.3rem 1rem 0.3rem 0;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: left;
}

.LK-codes pre {
  margin: 0;
  max-width: 100%;
  height: fit-content;
  white-space: pre-line;
}

/* #endregion */