/* 表单控件 */
/* #region */

/* 表单输入框 */
.LK-input {
  border: 1px solid var(--primary);
  padding: 0.37rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  outline: none;
}

.LK-input:focus {
  border: 1px solid var(--tip-color);
  outline: none;
}

/* select */

/* 清除浏览器默认样式 */
.LK-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 自定义样式 */
.LK-select {
  border: 1px solid var(--primary);
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  outline: none;
  line-height: 1.4;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.LK-select:focus {
  border: 1px solid var(--border);
  outline: none;
}

.LK-select option {
  font-size: 1.1rem;
}

/* input:number */
.LK-number {
  width: 3.5rem;
  height: 1.5rem;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}

.LK-number:focus {
  border: 1px solid var(--tip-color);
  outline: none;
}

/* 文件上传input */
.LK-file {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 5rem;
  position: relative;
}

.LK-file::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  vertical-align: bottom;
}

.LK-file::after {
  content: "";
  background-image: url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjY3OTY0NTQ0Nzg1IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI1NDAiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PHBhdGggZD0iTTUxMiA1MTJWMTcwLjY2NjY2N2g0Mi42NjY2Njd2MzQxLjMzMzMzM2gzNDEuMzMzMzMzdjQyLjY2NjY2N2gtMzQxLjMzMzMzM3YzNDEuMzMzMzMzaC00Mi42NjY2Njd2LTM0MS4zMzMzMzNIMTcwLjY2NjY2N3YtNDIuNjY2NjY3aDM0MS4zMzMzMzN6IiBmaWxsPSIjNDQ0NDQ0IiBwLWlkPSIyNTQxIj48L3BhdGg+PC9zdmc+');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 滑动条 */

/* 清除默认样式 */
.LK-range {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.LK-range {
  width: 10rem;
  height: 0.5em;
  vertical-align: var(--vertical-align);
  background-color: var(--border);
  border-radius: 1rem;
}

/* 滑动块 */
.LK-range::-webkit-slider-thumb {
  /* 清除浏览器默认样式 */
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--pr-blue);
}

.LK-range::-moz-range-thumb {
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--pr-blue);
}

/* #endregion */