@import url("./icon.css");
@import url("./buttons.css");
@import url("./forms.css");
@import url("./table.css");
@import url("./toggle.css");
@import url("./radio.css");
@import url("./tab.css");
@import url("./link.css");
@import url("./tip.css");
@import url("./tag.css");
@import url("./codes.css");
@import url("./progress.css");
@import url("./menu.css");
@import url("./place.css");

/* 初始化 */
/* #region */
:root {
  /* 字体初始化 */
  font-size: 16px;

  /* 初始化间距 */
  padding: 0;
  margin: 0;
  /* 初始化颜色 */
  /* 蓝色 */
  --pr-blue: #0d6efd;
  /* 灰色 */
  --pr-gray: #f4f4f5;
  /* 原色 */
  --primary: #dad4cb;
  /* 克莱因蓝 */
  --klein_blue: #002e9b;
  /* 警告 */
  --warning: #f5cd1b;
  --warnbg: #fdf6ec;
  /* 白色 */
  --pr-white: #ffffff;
  /* 危险 */
  --danger: #d7000f;
  /* 成功 */
  --success: #67c23a;
  --success-bg: #f0f9eb;
  /* 阴影 */
  --shadow: #ecf0f1;
  /* 边框 */
  --border: #dfe4ea;
  /* 黑色 */
  --black: #000000;
  /* 表格警告 */
  --table-danger: #f8d7da;
  /* tip文字 */
  --tip-color: #94979d;
  /* 蓝色背景 */
  --blue-bg: #ecf5ff;

  /* 与文字对齐 */
  --vertical-align: center;
}

/* #endregion */

/* flex布局 */
.flex-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 激活样式 */
.active {
  background-color: var(--pr-blue);
}

/* label */
.LK-lable {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: var(--vertical-align);
  color: var(--tip-color);
}

/* 分割线 */
.hr {
  height: 3px;
  width: 90%;
  background-color: var(--border);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
}

/* 空白分割,带清除浮动属性 */
.split {
  width: 100%;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  clear: both;
}

/* 卡片 */
.card {
  width: 15rem;
  height: 15rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pr-white);
}


/* 毛玻璃效果 */
.frosted-glass {
  width: 50%;
  height: fit-content;
  border-radius: 0.5rem;
  text-align: center;
  color: black;
  font-size: 16px;
  backdrop-filter: blur(4px);
  background-color: var(--pr-gray);
  opacity: 0.7;
}

/* 鼠标禁止 */
.LK-disable {
  cursor: not-allowed;
}

/* 单行文本溢出显示省略号,设置高度 */
.LK-pell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LK-Multiline {
  position: relative;
  overflow: hidden;
}

.LK-Multiline::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '...';
  padding-left: 40px;
  background-image: linear-gradient(to right, transparent, var(--bg-color) 70%);
}