.LK-progress {
  appearance: none;
  border-radius: 0.3rem;
  height: 0.5rem;
  background-color: var(--border);
}

.LK-progress::-webkit-progress-bar {
  background-color: var(--border);
  border-radius: 0.3rem;
  height: 0.5rem;
}

.LK-progress::-webkit-progress-value {
  background: var(--pr-blue);
  border-radius: 0.3rem;
}

.LK-progress::-moz-progress-bar {
  background: var(--pr-blue);
  border-radius: 0.3rem;
}