/* 开关 */
/* #region */
.LK-toggle {
  vertical-align: bottom;
  appearance: none;
  height: 1rem;
  width: 2rem;
  cursor: pointer;
  background-color: var(--tip-color);
  border-radius: 1rem;
  position: relative;
  padding-left: 1px;
  outline: none;
}

.LK-toggle:checked {
  background-color: var(--pr-blue);
  outline: none;
}

.LK-toggle::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--pr-white);
  transition: 0.5s;
}

.LK-toggle:checked::after {
  outline: none;
  transform-origin: center;
  transform: translate(calc(1rem - 1px), -50%);
}


.LK-toggle.LK-green:checked {
  background-color: var(--success);
}

/* #endregion */